<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{#    <a href="http://{{ domain }}/api/authorization/confirm-email/?email={{ user.email }}&confirm_key={{ confirm_key }}">Активировать</a>#}
    <a href="http://46.101.148.44/authorization/?email={{ user.email }}&confirm_key={{ confirm_key }}">Активировать</a>
</body>
</html>